<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Enter your new Password</h1>
    <form method="post" onsubmit="return spas()">
     {% csrf_token %}
    {{form}}<br><br>
    <input class="spass" type="checkbox" onclick="spas()">
    <label>Show password</label><br><br>
    <button type="submit">Request for Reset</button>
    </form>

<script>
function spas() {

            var show = document.getElementById('id_new_password1');
            if (show.type == 'password') {
                show.type = 'text';
            }
            else {
                show.type = 'password';
            }
        }
</script>
</body>
</html>


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="continer">
    <h1>Change Password</h1>
    <label for="">New Password:</label><input type="text" id=""><br>
    <label for="">Confirm Password:</label><input type="text" id=""><br> 
    <a href="{% url 'password_reset_complete' %}"><input type="button" value="Change Password"></a>   
</div>
</body>
</html> {% endcomment %}