<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Payment System</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h2>Restaurant Payment System</h2>

        <div class="form-group">
            <label>Payment Method:</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input type=" radio" name="payment" id="cod" value="cod" required>
                <label class="form-check-Label" for="cod">COD</label>
            </div>
            <div class="form-check forn-check-inline">
                <input class="form-check-input" type=" radio" name="payment" id="paynow" value="paynow">
                <label class="form-check-Label" for="paynow">Pay Now</label>
            </div>
        </div>
        <div id="paymentDetails">
            <div class=" form-group">
                <label for="cardng">Card. No:</label>
                <input type="text" class="form-control" id="cardno" name="cardno">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="expiry">Expiry Date:</label>
                    <input type="text" class="form-control" id="expiry" name="expiry">
                    <div id="expiryHelp" class="invalid-feedback">Please enter a valid expiry date.</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="cvv">CVV: </label>
                    <input type="text" class="form-control" id="cvv" name="cvv">
                </div>
                <div id="cvvHelp" class="invalid-feedback">Please enter a valid 3-digit CVV.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</body>

</html>